@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500;1,700&display=swap");

/* 
- Mobile: 375px - Desktop: 1440px (My laptop 1920px)
500px, 600px, 700px, 800px, 1000px
*/
/* Global Mobile************************/
:root {
  --cyan: hsl(180, 66%, 49%); /*Primary*/
  --dark-violet: hsl(257, 27%, 26%); /*Primary*/
  --red: hsl(0, 87%, 67%); /*Secondary*/
  --gray: hsl(0, 0%, 75%); /*Primary*/
  --grayish-violet: hsl(257, 7%, 63%); /*Primary*/
  --very-dark-blue: hsl(255, 11%, 22%); /*Primary*/
  --very-dark-violet: hsl(260, 8%, 14%); /*Primary*/
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  utline: 1px solid black;
}
html {
  width: 100%;
  height: auto;
}
body {
  width: 100%;
  height: auto;
  font-family: "Poppins", "Trebuchet MS";
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
main {
  width: 375px;
  height: 100%;
  display: grid;
  grid-template: 1fr 6fr auto 14fr 3fr 7fr 1fr / auto;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five"
    "six"
    "seven";
  padding: 1rem;
  gap: 0.5rem;
}
/* Nav Mobile************************/
.mob-nav {
  grid-area: one;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.mob-nav-logo {
  width: 8rem;
}
.mob-nav-icondd {
  width: 2rem;
}
.mob-nav-icondd:hover {
  cursor: pointer;
}
/* Header Mobile************************/
.mob-head {
  grid-area: two;
  display: grid;
  grid-template: 1fr 1fr / auto;
  grid-template-areas:
    "mob-head-one"
    "mob-head-two";
  width: 100%;
}
.mob-head-iluswork-div {
  grid-area: mob-head-one;
  width: 100%;
  overflow: hidden;
}
.mob-head-iluswork {
  width: 100%;
  position: relative;
  left: 30%;
}
.mob-head-more {
  grid-area: mob-head-two;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}
.mob-head-morethan {
  font-weight: bolder;
  font-size: 1.9rem;
}
.mob-head-build {
  color: var(--grayish-violet);
}
.mob-head-get {
  background-color: var(--cyan);
  color: white;
  padding: 0.2rem 0.6rem;
  border-radius: 20px;
  width: 10rem;
}
/* Section Mobile************************/
.mob-sec {
  grid-area: three;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
  background-color: hsl(0, 0%, 95%);
}
.mob-sec-inputdiv {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  background-image: url("./images/bg-shorten-mobile.svg");
  background-repeat: no-repeat;
  background-position: left 99% top 95%;
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: var(--dark-violet);
  width: 80%;
  height: 8rem;
}
.mob-sec-inputbox {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}
.mob-sec-input {
  height: 2.5rem;
  width: 14rem;
  border-radius: 0.3rem;
  padding-left: 0.2rem;
  font-size: 1rem;
}
.mob-sec-em {
  align-self: left;
  width: 100%;
  font-size: 0.8rem;
}
.mob-sec-butshrt {
  height: 2.5rem;
  width: 14rem;
  border-radius: 0.3rem;
  background-color: var(--cyan);
  color: white;
  font-weight: bolder;
  letter-spacing: 0.1rem;
  font-size: 1rem;
}
.mob-sec-butshrt:hover {
  cursor: pointer;
}
.mob-sec-outputdiv {
  width: 80%;
  height: 8rem;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid var(--gray);
  border-radius: 0.3rem;
  background-color: white;
}
.mob-sec-b {
  font-size: 1rem;
  width: 14rem;
  overflow: hidden;
}
.mob-sec-hr {
  width: 100%;
}
.mob-sec-str {
  width: 14rem;
}
.mob-sec-butcop {
  width: 14rem;
  height: 2rem;
  background-color: var(--cyan);
  color: white;
  font-weight: bolder;
  border-radius: 0.3rem;
}
.mob-sec-butcop:hover {
  cursor: pointer;
}
/* Article Mobile************************/
.mob-art {
  grid-area: four;
  background-color: hsl(0, 0%, 95%);
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / auto;
  grid-template-areas:
    "art-one"
    "art-two"
    "art-three"
    "art-four";
  width: 100%;
  padding: 1rem 0;
  color: var(--dark-violet);
}
.mob-art-adv {
  grid-area: art-one;
  height: 10rem;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}
.mob-art-adv1 {
  font-size: 1.4rem;
  font-weight: bolder;
}
.mob-art-adv2 {
  font-size: 0.9rem;
}
.mob-art-bra {
  grid-area: art-two;
  background-color: white;
  height: 12rem;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border-radius: 0.3rem;
}
.mob-art-icon {
  height: 4rem;
  width: 4rem;
  background-color: var(--dark-violet);
  border-radius: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  top: -25px;
}
.mob-art-bra1 {
  font-size: 1.1rem;
  font-weight: bolder;
}
.mob-art-bra2 {
  font-size: 0.85rem;
}
.mob-art-det {
  grid-area: art-three;
  background-color: white;
  height: 12rem;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border-radius: 0.3rem;
}
.mob-art-det1 {
  font-size: 1.1rem;
  font-weight: bolder;
}
.mob-art-det2 {
  font-size: 0.85rem;
}
.mob-art-ful {
  grid-area: art-four;
  background-color: white;
  height: 12rem;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border-radius: 0.3rem;
}
.mob-art-ful1 {
  font-size: 1.1rem;
  font-weight: bolder;
}
.mob-art-ful2 {
  font-size: 0.85rem;
}
/* Aside Mobile************************/
.mob-asd {
  grid-area: five;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-image: url("./images/bg-boost-mobile.svg");
  background-repeat: no-repeat;
  background-color: var(--dark-violet);
  color: white;
}
.mob-asd-boo {
  font-size: 1.5rem;
  font-weight: bolder;
}
.mob-asd-get {
  font-size: 1rem;
  font-weight: bolder;
  background-color: var(--cyan);
  padding: 0.5rem 2rem;
  border-radius: 20px;
}
.mob-asd-get:hover {
  cursor: pointer;
}
/* Menu Mobile************************/
.mob-men {
  grid-area: six;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  background-color: hsl(257, 27%, 16%);
}
.mob-men-sho {
  font-size: 1.5rem;
  font-weight: bolder;
  color: white;
}
.mob-men-div {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.mob-men-i {
  font-style: normal;
  font-weight: bolder;
  font-size: 0.9rem;
  color: white;
}
.mob-men-s {
  font-size: 0.7rem;
  color: var(--gray);
}
.mob-men-pics {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.mob-men-sm {
  width: 3rem;
}
/* Footer Mobile************************/
.mob-foo {
  grid-area: seven;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(180, 66%, 69%);
}
.mob-foo6 {
  font-size: 0.9rem;
}
.mob-fooa {
  color: hsl(240, 100%, 30%);
}
.mob-fooa:hover {
  color: hsl(240, 100%, 50%);
}
/* Dialog Rules Modal ************************/
dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 24rem;
  width: 18rem;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: var(--dark-violet);
  color: white;
  border-radius: 0.5rem;
}
dialog[open] {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}
dialog ul li {
  list-style: none;
  padding: 1rem 0;
  text-align: center;
  cursor: pointer;
}
dialog ul li:hover {
  background-color: var(--cyan);
  width: 12rem;
  border-radius: 20px;
}
dialog hr {
  width: 12rem;
  height: 0.1rem;
  background-color: white;
}
/* Media Queries ************************/
@media (min-width: 500px) {
  main {
    width: 475px;
  }
}
@media (min-width: 600px) {
  main {
    width: 570px;
  }
}
@media (min-width: 700px) {
  main {
    width: 665px;
  }
}
@media (min-width: 800px) {
  /* Global Desktop************************/
  main {
    width: 760px;
    height: 100%;
    display: grid;
    grid-template: 1fr 3fr auto 3fr 1.5fr 1.5fr 1fr / auto;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five"
      "six"
      "seven";
    padding: 1rem;
    gap: 0.5rem;
  }
  /* Nav Desktop************************/
  .desk-nav {
    grid-area: one;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .desk-nav-div {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }
  .desk-nav-div-ul {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  .desk-nav-ul {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 25%;
  }
  .desk-nav-li {
    list-style: none;
    text-align: center;
    font-size: 0.9rem;
    padding: 0.1rem 0;
    width: 6rem;
  }
  .desk-nav-li:hover {
    cursor: pointer;

    border-radius: 20px;
    width: 6rem;
    padding: 0.1rem 0;
  }
  .desk-nav-ul-li:hover {
    background-color: var(--cyan);
  }
  /* Header Desktop ************************/
  .desk-head {
    grid-area: two;
    display: grid;
    grid-template: auto/1fr 1fr;
    grid-template-areas: "desk-head-one desk-head-two";
    width: 100%;
  }
  .desk-head-more {
    grid-area: desk-head-one;
    text-align: left;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-left: 0.5rem;
  }
  .desk-head-morethan {
    font-weight: bolder;
    font-size: 2.9rem;
  }
  .desk-head-build {
    color: var(--grayish-violet);
  }
  .desk-head-get {
    background-color: var(--cyan);
    color: white;
    padding: 0.3rem 0.8rem;
    border-radius: 20px;
    align-self: flex-start;
    margin-top: 0.5rem;
  }
  .desk-head-get:hover {
    cursor: pointer;
  }
  .desk-head-iluswork-div {
    grid-area: desk-head-two;
    width: 100%;
    overflow: hidden;
  }
  .desk-head-iluswork {
    width: 100%;
    position: relative;
    left: 30%;
  }
  /* Section Desktop************************/
  .desk-sec {
    grid-area: three;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0;
    background-color: hsl(0, 0%, 95%);
  }
  .desk-sec-inputdiv {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    background-image: url("./images/bg-shorten-desktop.svg");
    background-repeat: no-repeat;
    background-position: left 99% top 95%;
    padding: 0.5rem;
    border-radius: 0.2rem;
    background-color: var(--dark-violet);
    width: 80%;
    height: 8rem;
  }
  .desk-sec-inputbox {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 60%;
  }
  .desk-sec-input {
    height: 3rem;
    width: 25rem;
    border-radius: 0.3rem;
    padding-left: 0.2rem;
    font-size: 1rem;
  }
  .desk-sec-em {
    align-self: left;
    width: 100%;
    font-size: 0.8rem;
  }
  .desk-sec-butshrt {
    height: 3rem;
    width: 15rem;
    border-radius: 0.3rem;
    background-color: var(--cyan);
    color: white;
    font-weight: bolder;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    margin-bottom: 1.2rem;
  }
  .desk-sec-butshrt:hover {
    cursor: pointer;
  }
  .desk-sec-outputdiv {
    width: 80%;
    height: 4rem;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid var(--gray);
    background-color: white;
    border-radius: 0.3rem;
    padding: 0 0.5rem;
  }
  .desk-sec-b {
    font-size: 1rem;
    width: 70%;
    height: 2rem;
    overflow: hidden;
  }
  .desk-sec-str {
    width: 20%;
    height: 2rem;
    text-align: right;
    overflow: hidden;
  }
  .desk-sec-butcop {
    width: 10%;
    height: 2rem;
    background-color: var(--cyan);
    color: white;
    font-weight: bolder;
    border-radius: 0.3rem;
  }
  .desk-sec-butcop:hover {
    cursor: pointer;
  }
  /* Article Desktop************************/
  .desk-art {
    grid-area: four;
    background-color: hsl(0, 0%, 95%);
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "blank1 aaa aaa aaa aaa blank2"
      "blank1 aaa aaa aaa aaa blank2"
      "bbb bbb blank3 blank3 blank3 blank3"
      "bbb bbb ccc ccc blank4 blank4"
      "bbb bbb ccc ccc ddd ddd"
      "bbb bbb ccc ccc ddd ddd"
      "blank5 blank5 ccc ccc ddd ddd"
      "blank6 blank6 blank6 blank6 ddd ddd";
    gap: 0.5rem;
    width: 100%;
    padding: 0.5rem 0;
    color: var(--dark-violet);
  }
  .desk-art-adv {
    grid-area: aaa;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    width: 60%;
  }
  .desk-art-adv1 {
    font-size: 1.4rem;
    font-weight: bolder;
  }
  .desk-art-adv2 {
    font-size: 0.9rem;
  }
  .desk-art-bra {
    grid-area: bbb;
    background-color: white;
    margin: 0 auto;
    border-radius: 0.3rem;
    text-align: left;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
  }
  .desk-art-icon {
    height: 4rem;
    width: 4rem;
    background-color: var(--dark-violet);
    border-radius: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    float: left;
  }
  .desk-art-bra1 {
    font-size: 1.1rem;
    font-weight: bolder;
  }
  .desk-art-bra2 {
    font-size: 0.85rem;
  }
  .desk-art-det {
    grid-area: ccc;
    background-color: white;
    border-radius: 0.3rem;
    text-align: left;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
  }
  .desk-art-det1 {
    font-size: 1.1rem;
    font-weight: bolder;
  }
  .desk-art-det2 {
    font-size: 0.85rem;
  }
  .desk-art-ful {
    grid-area: ddd;
    background-color: white;
    margin: 0 auto;
    border-radius: 0.3rem;
    text-align: left;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
  }
  .desk-art-ful1 {
    font-size: 1.1rem;
    font-weight: bolder;
  }
  .desk-art-ful2 {
    font-size: 0.85rem;
  }
  /* Aside Desktop************************/
  .desk-asd {
    grid-area: five;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-image: url("./images/bg-boost-desktop.svg");
    background-repeat: no-repeat;
    background-color: var(--dark-violet);
    color: white;
  }
  .desk-asd-boo {
    font-size: 1.5rem;
    font-weight: bolder;
  }
  .desk-asd-get {
    font-size: 1rem;
    font-weight: bolder;
    background-color: var(--cyan);
    padding: 0.5rem 2rem;
    border-radius: 20px;
  }
  .desk-asd-get:hover {
    cursor: pointer;
  }
  /* Menu Desktop************************/
  .desk-men {
    grid-area: six;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    background-color: hsl(257, 27%, 16%);
    padding-top: 2rem;
  }
  .desk-men-sho {
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
  }
  .desk-men-div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .desk-men-i {
    font-style: normal;
    font-weight: bolder;
    font-size: 0.9rem;
    color: white;
  }
  .desk-men-s {
    font-size: 0.7rem;
    color: var(--gray);
  }
  .desk-men-pics {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }
  .desk-men-sm {
    width: 3rem;
  }
  /* Footer Desktop************************/
 .desk-foo {
    grid-area: seven;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    background-color: hsl(180, 66%, 69%);
  }
  .desk-foo6 {
    font-size: 0.9rem;
  }
  .desk-fooa {
    color: hsl(240, 100%, 30%);
  }
 .desk-fooa:hover {
    color: hsl(240, 100%, 50%);
  }
}
@media (min-width: 1000px) {
  main {
    width: 950px;
  }
}
